#main{
  width: 100%;
  height: 100%;
}
#centered_small_icon{
  background-color: blue;
  width:600px;
  height: 250px;  
  background-image: url('https://mdn.mozillademos.org/files/11947/ff-logo.png');
  background-repeat: no-repeat; 
  background-position: center;
  background-size: 50px;
  border: 10px solid white;
  margin: auto;
}

#green_line{
  background-color: green;
  width:600px;
  height: 250px;
  border: 10px solid white;
  margin: auto;
}
#full_width_icon{
  background-color: red;
  width:600px;
  height: 250px;
  background-image: url('https://mdn.mozillademos.org/files/11947/ff-logo.png');
  background-repeat: no-repeat; 
  background-position: center;
  background-size: cover;
  border: 10px solid white;
  margin: auto;
}

#repeated_icon{
  background-color: purple;
  background-image: url('https://mdn.mozillademos.org/files/11947/ff-logo.png');
  background-repeat: repeat; 
  width:700px;
  height: 250px;
  background-size: 40px;
  margin: auto;
}